.right-container{
	background-color:#eeeeee;
	border-radius:7px;
	box-shadow:2px 2px 2px #888888;
	height:auto;
	width:100%;
	z-index:9998;
	padding:10px;
	overflow:scroll !important;
	padding-bottom:50px;
	-webkit-overflow-scrolling: touch;
}

/* GRID */

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12{
	float:left;
	overflow:hidden;
	width:100%;
}

.span1-mobile, .span2-mobile, .span3-mobile, .span4-mobile, .span5-mobile, .span6-mobile, .span7-mobile, .span8-mobile, .span9-mobile, .span10-mobile, .span11-mobile, .span12-mobile{
	float:left;
}

.span1-mobile{
	width:8.3%;
}

.span2-mobile{
	width:16.7%;
}

.span3-mobile{
	width:25%;
}

.span4-mobile{
	width:33.3%;
}

.span5-mobile{
	width:41.7%;
}

.span6-mobile{
	width:50%;
}

.span7-mobile{
	width:58.3%;
}

.span8-mobile{
	width:66.7%;
}

.span9-mobile{
	width:75%;
}

.span10-mobile{
	width:83.3%;
}

.span11-mobile{
	width:91.7%;
}

.span12-mobile{
	width:100%;
}


.offset1-mobile{
	margin-left:8.3%;
}

.offset2-mobile{
	margin-left:16.7%;
}

.offset3-mobile{
	margin-left:25%;
}

.offset4-mobile{
	margin-left:33.3%;
}

.offset5-mobile{
	margin-left:41.7%;
}

.offset6-mobile{
	margin-left:50%;
}

.offset7-mobile{
	margin-left:58.3%;
}

.offset8-mobile{
	margin-left:66.7%;
}

.offset9-mobile{
	margin-left:75%;
}

.offset10-mobile{
	margin-left:83.3%;
}

.offset11-mobile{
	margin-left:91.7%;
}

.offset12-mobile{
	margin-left:100%;
}

/* END GRID */

.hide-mobile{
	display:none !important;
}

.hide-tablet{
	display:block;
}

.hide-desktop{
	display:block;
}

.show-mobile{
	display:block;
}

.show-tablet{
	display:none;
}

.show-desktop{
	display:none;
}

/* HEADLINES */

h1{
	font-size:400%;
	font-weight: bold;
}

h2{
	font-size:260%;
	font-weight: bold;
}

h3{
	font-size:220%;
	font-weight: bold;
}

h4{
	font-size:200%;
	font-weight:bold;
}

h5{
	font-size:150%;
	font-weight:bold;
}

/* END HEADLINES */

/* IMAGE HEIGHTS */

.h-100{
	height:100px;
}

.h-200{
	height:150px;
}

.h-300{
	height:200px;
}

.h-400{
	height:200px;
}

/* END IMAGE HEIGHTS */


.image{
	background-position:top;
}


.nav ul a{
	padding:16px 8px 0px 8px;
}